@page "/"
@model TruckAplication.Pages.Trucks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="align-content:center">Trucks List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Brand / Model :
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Truck[0].Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Truck[0].Model)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.BrandSort">
                @Html.DisplayNameFor(model => model.Truck[0].Brand)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PriceSort">
                @Html.DisplayNameFor(model => model.Truck[0].Price)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Truck[0].AvailableDate)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Truck[0].Driver.DriverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Truck[0].TruckCategories)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TruckD.Trucks)
        {
            string selectedRow = "";
            if (item.ID == Model.TruckID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    <img src="@Url.Content("~/Images/" + item.Picture)" alt="Image not found" style="width:100px; height:100px;" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableDate)
                </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Driver.DriverName)
                    </td>
                <td>
                    @{
                        foreach (var category in item.TruckCategories)
                        {
                             @: @category.Category.CategoryName <br />
                        }
                    }
                </td>
                

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
